Dear {{hr_manager or "HR Manager"}},<br><br>

The Reporting Manager {{ manager }} has <b> {{ workflow_state }}</b> a {{ doc.leave_type }} request. Please find the details below:<br><br>
{% set employee = frappe.get_doc("Employee",doc.employee) %}
<b>Employee Details:</b><br>
- <b>Name:</b> {{ doc.employee_name }}<br>
- <b>Employee ID:</b> {{ employee.employee_number }}<br>
<br>

<b>Leave Details:</b><br>
- <b>Leave Type:</b> {{ doc.leave_type }}<br>
{% if doc.doctype == "Compensatory Leave Request" %}
- <b>Compensatory Work Period:</b> {{frappe.utils.format_date(doc.work_from_date,"dd-MM-yyyy") }} to {{ frappe.utils.format_date(doc.work_end_date,"dd-MM-yyyy") }}<br>
{% else %}
- <b>Leave Period:</b> {{ frappe.utils.format_date(doc.from_date, "dd-MM-yyyy") }} to {{ frappe.utils.format_date(doc.to_date, "dd-MM-yyyy") }}<br>
{% endif %}
- <b>Current Status:</b> {{ doc.workflow_state }}<br>
<br>

<b>Request Link:</b> <a href="{{ frappe.utils.get_url() }}/app/{{ doc.doctype|lower|replace(' ', '-') }}/{{ doc.name }}">View Request</a><br><br>

{% if doc.workflow_state == "Approved by Reporting Manager" %}
As this request has been Approved by the Reporting Manager, it is now pending your action.<br><br>
{% elif doc.workflow_state == "Rejected by Reporting Manager" %}
As this request has been Rejected by the Reporting Manager, it is now pending your action.<br><br>

{% endif %}

Thank you,<br>
HR System
