<p>Dear <b>{{ employee_name }}</b>,</p>

<p>
    This is to inform you that a penalty has been applied for the date 
    <b>{{ frappe.format_date(penalty_date, "dd-MM-yyyy") }}</b>, 
    as per the company’s policy guidelines.
</p>

<table border="1" cellpadding="6" cellspacing="0" 
       style="border-collapse: collapse; width: 100%; margin: 12px 0; font-size: 14px;">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th style="text-align: left;">Leave Type</th>
            <th style="text-align: left;">Leave Amount</th>
            <th style="text-align: left;">Reason</th>
        </tr>
    </thead>
    <tbody>
        {%- set penalty_doc = frappe.get_doc("Employee Penalty", penalty) -%}
        {% if penalty_doc %}
            {% for row in penalty_doc.leave_penalty_details %}
            <tr>
                <td>{{ row.leave_type }}</td>
                <td>{{ row.leave_amount }}</td>
                <td>{{ row.reason }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
