Dear {{ role }},<br><br>

{% if doc.doctype == "Compensatory Leave Request" %}
A compensatory leave request has been submitted and requires your attention. Please find the details below:<br><br>
{% else %}
A leave application has been submitted and requires your attention. Please find the details below:<br><br>
{% endif %}
- <b>Employee Name:</b> {{ doc.employee_name }}<br>
- <b>Employee ID:</b> {{ doc.employee }}<br>
- <b>Leave Type:</b> {{ doc.leave_type }}<br>
{% if doc.doctype == "Compensatory Leave Request" %}
- <b>Compensatory Work Period:</b> {{ doc.work_from_date }} to {{ doc.work_end_date }}<br>
- <b>Reason:</b> {{ doc.reason or 'Not provided' }}<br>
{% else %}
- <b>Leave Period:</b> {{ doc.from_date }} to {{ doc.to_date }}<br>
- <b>Reason:</b> {{ doc.description or 'Not provided' }}<br>
{% endif %}
- <b>Request Link:</b> <a href="{{ frappe.utils.get_url() }}/app/{{ doc.doctype|lower|replace(' ', '-') }}/{{ doc.name }}">View Request</a><br><br>

You are kindly requested to review this application and take the necessary action at your earliest convenience.<br><br>

Thank you,<br>
HR System
