Dear {{ manager }},<br><br>
{% set employee =  frappe.get_doc("Employee", doc.employee) %}
{% if employee.company %}
{% set company = employee.company %}
{% endif %}
{% if doc.doctype == "Compensatory Leave Request" %}
A compensatory leave request has been submitted and requires your attention. Please find the details below:<br><br>
{% else %}
A leave application has been submitted by {{doc.employee}}.<br>
Please review the details below and take the necessary action.
<br><br>
{% endif %}
Request Summary:<br>
- <b>Employee:</b> {{ doc.employee }}<br>
- <b>Leave Type:</b> {{ doc.leave_type }}<br>
- <b>Workflow State:</b> {{doc.workflow_state}} <br>
{% if doc.doctype == "Compensatory Leave Request" %}
- <b>Compensatory Work Period:</b> {{ frappe.utils.format_date(doc.work_from_date,"dd-MM-yyyy") }} to {{ frappe.utils.format_date(doc.work_end_date,"dd-MM-yyyy") }}<br>
- <b>Reason:</b> {{ doc.reason or 'Not provided' }}<br>
{% endif %}
- <b>View Request:</b> <a href="{{ frappe.utils.get_url() }}/app/{{ doc.doctype|lower|replace(' ', '-') }}/{{ doc.name }}">Click Here</a><br><br>


